@page {
	margin: 0.8cm;
	}

body {
	margin: none;
	padding: none;
	width: auto;
	max-width: none;
	min-width: auto;
	font-size: 12pt;
	}

* {
	background: transparent !important;
	text-shadow: none !important;
	color: #444 !important;
	border-color: #444 !important;
	}

a, a:visited {
	text-decoration: underline;
	}

a[href^="http"]:after, a[href^="ftp"]:after, a[rel="external"]:after {
	content: " (" attr(href) ")";
	}

abbr:after {
	content: " (" attr(title) ")";
	}

pre, blockquote, img {
	page-break-inside: avoid;
	}

h1, h2, h3 {
	page-break-after: avoid;
	}

p, h2, h3 {
	orphans: 3;
	widows: 3;
	}

aside {
	display: none;
	}

/*
 * hide unimportant stuff from beeing printed
 * WE DON'T LIKE PAPER WASTERS!!!
 */
.adsblock, .sharebtn {
	display: none !important;
	}

